html, body {
  margin: 0;
  font-family: 'Roboto', 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


code {
  font-family: 'Roboto', 'Montserrat';
}
.sidebar {
  max-width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-subitem-text {
  font-size: 0.8rem;
}
